*

!.gitignore

!README.md
!data.png

!requirements.txt

!trainer/
!trainer/data.py
!trainer/final_task.py
!trainer/model.py
!trainer/task.py

!data/

!check_deployed_model/
!check_deployed_model/test.json

### Added
credentials.json
.env
.envvrc
*.vscode
